name: Update Spotify Playlist

on:
  schedule:
    - cron: '0 * * * *' # Run every hour
  workflow_dispatch: # Allow manual trigger

jobs:
  update-playlist:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Create Cache File
      env:
        SPOTIFY_CACHE: ${{ secrets.SPOTIFY_CACHE }}
      run: |
        echo "$SPOTIFY_CACHE" > .cache

    - name: Run Update Script
      env:
        SPOTIPY_CLIENT_ID: ${{ secrets.SPOTIPY_CLIENT_ID }}
        SPOTIPY_CLIENT_SECRET: ${{ secrets.SPOTIPY_CLIENT_SECRET }}
        SPOTIPY_REDIRECT_URI: ${{ secrets.SPOTIPY_REDIRECT_URI }}
      run: python manager.py update

    - name: Commit and Push State
      run: |
        git config --global user.name 'GitHub Action'
        git config --global user.email 'action@github.com'
        git add playlist_state.json
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update playlist state" && git push)
